#projekat{
	background-color: #C2B9B0;
}

.meni {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   background-color: #7E685A;
   color: #C2B9B0;
   text-align: center;
   display: inline-block;
   padding-top:5px;
   horizontal
  }

.meni p{
	width: 33%; 
	float: left;
}

.meni a {
	text-decoration: none;
	color: #C2B9B0;
	
}

.meni a:hover{
	background-color: #AFD275;
	color: #7E685A;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-top: 5px;
}

.margina {
	margin-top: 50px;
}

.dole {
	margin-top: 30px;
}

.podaci li{
  font-size: 15px;
  padding: 3px;
}


.n{
	text-decoration-line: underline;
   text-decoration-color: #E7717D;
	font-style: italic;
}